
@{
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Foto</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Augment Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="~/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="~/css/style.css" rel='stylesheet' type='text/css' />
    <!-- Graph CSS -->
    <link href="~/css/font-awesome.css" rel="stylesheet">
    <!-- jQuery -->
    <link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css'>
    <!-- lined-icons -->
    <link rel="stylesheet" href="~/css/icon-font.min.css" type='text/css' />
    <!-- /js -->
    <script src="~/js/jquery-1.10.2.min.js"></script>
    <!-- //js-->

    <script>
        // FUNÇAO - SOMENTE LETRAS
        function Onlynumbers(e)
        {
	        var tecla=new Number();
	        if(window.event) {
		        tecla = e.keyCode;
	        }
	        else if(e.which) {
		        tecla = e.which;
	        }
	        else {
		        return true;
	        }
	        if((tecla >= "97") && (tecla <= "122")){
		        return false;
	        }
        }
    </script>
</head>

<body>
    @*<h1>Cadastro de Imagem</h1>
        <form method="post" enctype="multipart/form-data">
            <p><label>Imagem: </label><input type="file" name="Imagem" id="Imagem" multiple /></p>
            <p><input type="submit" name="ButtonEnviar" id="ButtonEnviar" value="Enviar" /></p>
        </form>

        <hr />

        <div>
               @foreach (Int32 Codigo in ViewBag.Imagens)
                {
                    <img src="~/Imagem/Ver/@(Codigo)" style="width: 300px" />
                }
            </div>*@
</body>
</html>
