
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div> 
        <a href="/Usuario/CadastrarUsuario">Cadastrar Usuário</a>
        <a href="/Usuario/ListarUsuarios">Listar Usuários</a>
        <a href="#">Sair</a>
    </div>
</body>
</html>
