
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Style.css" />

    <title>SENAI Estoque</title>
</head>
<body>
    <div id="div_menu_lateral">
      <form method="post">
          
           
      </form>
    </div>

    <div id="div_menu_superior">
        <form method="post">

        </form>
    </div>

    <div id="div_conteudo">
        <form method="post">

        </form>
    </div>

</body>
</html>

